h1 {
    margin: 0px;
}

.uni-renegades {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.years {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.people {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px;
}