@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.year-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.year {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px black;
    position: absolute;
    top: 35%;
    margin-left: -3px;  /* adjust for italicized font */
}