@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.ThisYear {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ThisYear-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reveal-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px;
}